
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">All Clients</h1>
  </div>
  
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t 'admin.clients'%>
        <%= link_to '<i class="fa fa-plus"></i> Add New client'.html_safe, new_admin_client_path, class: "btn btn-default pull-right add-btn" %>
      </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>All clients</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th></th>
                    <th class="text-center">Actions</th>
                    
                </tr>
            </thead>
            <tbody>

              <% @admin_clients.each_with_index do |admin_client,index| %>

                <tr class="odd gradeX">
                  <td><%= admin_client.number %></td>
                  <td><%= admin_client.name %></td>
                  <td><%= admin_client.phone %></td>
                  <td><%= admin_client.address %></td>
                  <% if admin_client.orders.present? %>
                   <td><%= link_to "View Orders", admin_client_path(admin_client) %></td>
                  <% else %>
                    <td> No orders Yet </td>
                  <% end %>
                  <td class="text-center">
                  <% if admin_client.orders.present?%>
                      <span>
                      <%= link_to " ", "#paymentModal", :class => "fa fa-plus icon_link with-tip no-texty", "data-toggle" => "modal", "data-id" => admin_client.id, title:"add Pyament" %>&nbsp; &nbsp;
                      </span>
                       <span>
                      <%= link_to '', admin_payments_path(id: "#{admin_client.id}") ,class: "edit fa fa-eye icon_link with-tip no-text", title: "order detail"%>&nbsp; &nbsp;
                      </span>
                  <% end %>
                      <span>
                      <%= link_to '', edit_admin_client_path(admin_client) ,class: "edit fa fa-edit icon_link with-tip no-text", title: "edit"%>&nbsp; &nbsp;
                      </span>
                      <span>
                     
                      <%= link_to '',  admin_client_path(admin_client), method: :delete, data: { confirm: 'Are you sure?' } ,class: "delete fa fa-trash icon_link with-tip no-text" , title: "delete" %>
                          
                      </span>
                  </td>
                </tr>
              <%end%>                                                                             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
 $(document).ready(function(){
  $('#paymentModal').on('show.bs.modal', function(e){ 
    clientId = $(e.relatedTarget).data('id');
    $(e.currentTarget).find('input[name="payment[client_id]"]').val(clientId);
  });
})
</script>
<%= render "add_payment" %>
