<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<%= form_for [:admin, Stock.new]  do |f|  %>
			<div class="form-group">
	            <%=f.label :gazana_per_than%>
	            <%=f.text_field :gazana_per_than ,class: 'form-control', placeholder: 'Enter gazana per than', required: 'true'%>
	         </div>
			<div class="form-group">
	            <%=f.label :than%>
	            <%=f.text_field :than ,class: 'form-control', placeholder: 'Enter gazana per than', required: 'true'%>
	         </div>
	          <%= f.hidden_field :product_id %>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
		<% end %>
    </div>
  </div>
</div>


