<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
       Add product
      </div>
      <div class="panel-body">
        <div class="row">
          <%= form_for [:admin, @admin_product] do |f| %>
            <div class="col-md-6">

              <div class="form-group">
                <%=f.label :name%>
                <%=f.text_field :name ,class: 'form-control', placeholder: 'Product Name', required: 'true'%>
              </div>
              <div class="form-group">
              <%=f.label :vendor_id%>
              
              <%= f.select :vendor_id, options_for_select(Vendor.all.collect { | vendor | [vendor.name, vendor.id] }, f.object.vendor.try(:id)),{include_blank: '-choose vendor-'}, {:class => 'form-control' } %>
              </div>
              <div class="form-group">
              <%=f.label :product_type%>
              <%= f.select :product_type, options_for_select( Product::PRODUCT_TYPES, :selected => f.object.product_type ) , {include_blank: '-choose product type-'}, {:class => 'form-control' } %>
              
              <%#= f.select(:product_type, [['Accessories', 1], ['Whole sale', 2]], {}, {:class => 'form-control' }) %>
              </div>
              <%#= f.fields_for :stocks do |stock_item| %>
              <!--   <div class="form-group">
                  <%#=stock_item.label :than%>
                  <%#=stock_item.text_field :than ,class: 'form-control', placeholder: 'Enter Than', required: 'true'%>
                </div>
                <div class="form-group">
                  <%#=stock_item.label :gazan_per_than%>
                  <%#=stock_item.text_field :gazana_per_than ,class: 'form-control', placeholder: 'Enter gazana per than', required: 'true'%>
                </div> -->
              <%# end %>
              <div class="form-group">
                <%=f.label :rate%>
                <%=f.text_field :rate ,class: 'form-control', placeholder: 'Enter Rate/meter', required: 'true'%>
              </div>
              <div class="form-group">
                <%=f.label :profit_percentage%>
                <%=f.number_field :profit_percentage ,class: 'form-control', placeholder: 'Enter Profit Percentage', min: 0%>
              </div>
              <div class="form-group">
                <%#=f.label :sale_price%>
                <%#=f.text_field :sale_price ,class: 'form-control', placeholder: 'Enter Address'%>
              </div>


              <%= f.submit 'Submit Button', class: "btn btn-default" %>
              <button type="reset" class="btn btn-default">Reset Button</button>
              <a  href="/admin/products" class="btn btn-default">Back</a>
            </div>

          <%end%>
        </div>
      </div>        
    </div>
  </div>    
</div>
